.pill-wrapper {
    height: 32rem;
    width: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.25rem solid #64748B;
    border-radius: 100rem;

    & p {
        color: #64748b;
        font-size: 12rem;
        font-weight: 600;
    }

    &.loading{
        animation: pulse 1.5s infinite ease-in-out;
    }

    &.inactive{
        opacity: .75;
        border-color: #CBD5E1;
    }

    &.urgent{
        animation: urgent-border-pulse 1.5s infinite ease-in-out;
        border-color: #f43f5e;
        & p {
            color: #f43f5e;
        }
    }

    &.bus-pill{
        width: 100%;
        height: 100%;
    }
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.375; }
    100% { opacity: 1; }
}

@keyframes urgent-border-pulse {
    0% { opacity: 1; }
    50% { opacity: 0.375;}
    100% { opacity: 1; }
}
