<main class="dashboard-wrapper">
    <div class="dashboard-overlay"></div>
    <app-header></app-header>
    <section class="dashboard-top">
        <app-transport class="dashboard-top-item"
            [infos]="{id: 1002, type: 'metro', name: 'Métro B', stop: 'Beaulieu U.', icon: 'metro-b'}"></app-transport>
        <app-transport class="dashboard-top-item"
            [infos]="{id: 5547, type: 'bikes', name: 'Station Vélo Star ', stop: 'Beaulieu Chimie', icon: 'bike-station'}"></app-transport>
        <app-transport class="dashboard-top-item"
            [infos]="{id: 5548, type: 'bikes', name: 'Station Vélo Star ', stop: 'Beaulieu U.', icon: 'bike-station'}"></app-transport>
    </section>
</main>