.router {
    width: 100%;
    height: 100%;
}
.alert-message {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32rem;
    width: 100%;
    height: 100%;

    & .logo {
        display: flex;
        align-items: center;
        gap: 8rem;
        color: var(--main-color);
        --size: min(104rem, 60px);

        & svg {
            height: var(--size);
        }

        & h1 {
            font-size: var(--size);
            line-height: 1.2;
            font-weight: 700;
        }
    }

    & .message {
        font-size: min(48rem, 22px);
        font-weight: 600;
        text-align: center;
        color: var(--primary-text-color);
    }
}

@media (orientation: portrait) {
    .router {
        display: none;
    }

    .alert-message {
        display: flex;
    }
}

@media screen and (max-width: 1024px) {
    .router {
        display: none;
    }

    .alert-message {
        display: flex;
    }
}
